:root {
  /* Primary colors */
  --primary: #b5c8e9;
  --primary-light: #c1d2ef;
  --primary-dark: #4a86c5;     

  /* Secondary colors */
  --secondary: #a1cb97;
  --secondary-light: #b4daab;
  --secondary-dark: #439d6d; 

  /* Accent co
  --accent-light: #ddd2ce;
  --accent-dark: #b55242;

  /* Neutral colors */
  --white: #ffffff;
  --light-gray:#f6f9fc;
  --dark-gray: #191e24;


  /* Semantic colors */
  --success:  #439d6d;
  --warning: #e3b36b;
  --error:  #b55242;
  --info: #4a86c5;

  /* Background colors */
  --background-primary: #ffffff;
  --background-secondary: #f6f9fc5;

  /* Text colors */
  --text-primary: #191e24;
  --text-light: #ffffff;
}

.textChanger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 1rem auto;
  max-width: 90%;

  .h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secondary);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
    position: relative;

    &::after {
      content: "|";
      margin-left: 0.5rem;
      animation: blinkCaret 0.7s step-end infinite;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blinkCaret {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
