@use "buttons";
@use "forms";
@use "cards";
@use "wrappers";
@use "chips";

:root {
    /* Primary colors */
    --primary: #b5c8e9;
    --primary-light: #c1d2ef;
    --primary-dark: #4a86c5;     

    /* Secondary colors */
    --secondary: #a1cb97;
    --secondary-light: #b4daab;
    --secondary-dark: #439d6d; 

    /* Accent colors */
    --accent: #d6c8c3;
    --accent-light: #ddd2ce;
    --accent-dark: #b55242;

    /* Neutral colors */
    --white: #ffffff;
    --light-gray:#989ca0;
    --dark-gray: #191e24;
 

    /* Semantic colors */
    --success:  #439d6d;
    --warning: #e3b36b;
    --error:  #b55242;
    --info: #4a86c5;

    /* Background colors */
    --background-primary: #ffffff;
    --background-secondary: #f6f9fc5;

    /* Text colors */
    --text-primary: #191e24;
    --text-light: #ffffff;
}


